[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
pylint = "*"
requests = "*"
telepot = "*"
websocket-client = "*"
werkzeug = "*"
asyncio = "*"
websockets = "*"
pyti = "*"

[dev-packages]
yapf = "*"
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
